DATABASE_URL=postgresql://postgres:postgres@localhost:5432/celebrationcountdown?schema=public

# Backend
APP_NAME=celebrationcountdown-backend
APP_PORT=3001
NODE_ENV=development

# Frontend
VITE_API_URL=http://localhost:3001
